# Virtual environments
venv/
env/
project/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

data_source/

# Large data files (uncomment if needed)
# data/*.csv
# *.h5
# *.pkl
